body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
}
.container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 300px;
  text-align: center;
}
input {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 85%;
}
button:hover {
  background-color: #20ffda;
}
.resultado {
  margin-top: 15px;
  font-size: 1.2em;
  color: #20ffda;
}
body {
  width: 100%;
  height: 400px;
  min-height: 100vh;
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/7396537-bonito-fundo-praia-tropical-verao-feriados-casamentos-bonito-papel-de-parede-mangue-silhueta-vetor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 850px;
  background-color: transparent;
  padding: 75px;
  border: 2px solid rgb(69, 255, 249);
  backdrop-filter: blur(10px);
}
h1,h2{
  color: #20ffda;
}
